
body {
	background: #EFEFEF url(../images/patterndown.png) repeat;
    

	font-family: "Lucida Sans Unicode";
	
}

footer{ 
	text-align:right;
	padding-right: 10%;
}

footer h3{
	
	
	border-radius: 2px 2px 2px 2px;
	background: #EFEFEF url(../images/patternmenu.png) repeat;
	/*font-family: Arial, Helvetica, sans-serif;*/
    font-family: Arial;
	
	
	padding:3px 7px 4px 7px;
	display: inline-block;
	color: #043A69;

	font-size:15px;
	font-weight: 1000;

	box-shadow: 0px 2px 100px 2px; 
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	
}


h1, h2, h3, h4, a{

	/*font-family:"Trebuchet MS", Verdana;*/
	color: #043A69;
	text-decoration: none;
}

h1, h2{
	letter-spacing: 2px;
	text-align: center;
}

h1{ 
	font-size:30px;
	font-weight: 3000;
	
}

h2{
	font-size:30px;
	font-weight: 2000;		
}

h3{
	font-size:25px;
	font-weight: 1000;
}

h4{
	font-size:20px;
	font-weight: 1000;
}

iframe{
	border-radius: 10px 10px 10px 10px;
}

/* Se uno stile va applicato ad un solo specifico elemento si usa un id. Se invece si prevede di usarlo più volte, ovvero su più elementi, si definisce nel CSS una classe.
/*========class========*/

#menu {
	

	text-align: center; 
	background: #EFEFEF url(../images/patternmenu.png) repeat;
	
	border-radius: 10px 10px 10px 10px;
	
	padding-bottom: 20px;
	padding-top: 100px;
		
	position:center;

	/*top-right-bottom-left*/
	margin: 30px 120px 20px 120px;
	
	box-shadow: 0px 2px 100px 2px; 
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	
}

#menu h1{

	font-size: 80px;
}

#menu li {
	
	padding: 16px 37px 16px 0;
	margin: 0 0 0 20px;
	background: url(../images/nav-li-bg.png) no-repeat right center;
	text-transform: uppercase;
	display: inline-block;
	font-size: 20px;

}

#puntina1 {
	position: absolute;
	top: 60px;
 	right: 47%;
}
#puntina2 {
	position: absolute;
	top:70px;
	right:30%;
}
#puntina3 {
	position: absolute;
	top:450px;
	left:10%;
}

/*colonne*/

#two-columns {
	overflow: hidden;
	width: 100%;
	margin: 10px auto;
	padding: 30px 0px;
	

}

#two-columns #col1 {
	overflow: hidden;
	float: left;
	width: 45%;
	
}

#two-columns #col2 {
	overflow: hidden;
	float: right;
	width: 45%;
}

/*=======id=======*/

.content
{
	

	background: #fff url(../images/patternup.png) repeat;
	border-radius: 10px 10px 10px 10px;
	
	/*top-right-bottom-left*/
	padding:20px 20px 20px 20px;
	margin: 0px 20px 20px 20px;

	box-shadow: 0px 2px 100px 2px; 
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.content li{
	
	list-style-type: circle;
	padding-right: 15;
	margin-right: 30%;
}

.container {
	border: 1px solid black;
	border-radius: 10px 10px 10px 10px;
	
	/*top-right-bottom-left*/
	box-shadow: 0px 2px 20px 2px;
	padding:20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
	
}

.titolo{
	text-align:center;	
}

.titolo h2{
		background: #EFEFEF url(../images/patternmenu.png) repeat;
		border-radius: 4px 4px 4px 4px;
		padding:3px 7px 4px 7px;
		display: inline-block;
		color: #043A69;
	
		/*box-shadow: 0px 2px 100px 2px; */
		border-left: 1px solid black;
		border-bottom: 1px solid black;
}

.no_bg {
	background: none !important;
}
.ped{
	padding-right: 0 !important;
}

/*       form registrazione          */
.login-card {
  padding: 40px;
  width: 274px;
  background: #EFEFEF url(../images/patternmenu.png) repeat;
  
  box-shadow: 0px 2px 15px 2px; 
  margin: 0 auto 10px;
  border-radius: 10px 10px 10px 10px;

  overflow: hidden;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

.login-card h1 {
  font-weight: 100;
  text-align: center;
  font-size: 2.3em;
}

.login-card input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.login-card input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
 
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  border-radius: 10px 10px 10px 10px;
}

.login-card input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  border-radius: 10px 10px 10px 10px;
}

.login {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;

}
